<!DOCTYPE html>

//displays the form used to create a new job

<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <form th:object="${jobForm}" method="post">
        <!--pulling  jobForm.java-->
        <div class="form-group">
            <!--"Name" is the label of the dropdown-->
            <label th:for="name">Name</label>
            <!--Pulling in "name" from JobForm.java-->
            <input th:field="*{name}" />
            <!--if user doesn't enter at least 1 character, error will appear-->
            <div th:errors="*{name}"></div>
        </div>

        <div class="form-group">
            <!--label for the dropdown-->
            <label th:for="employerId">Employer</label>
            <!--pulling in employerID from JobForm.java-->
            <select th:field="*{employerId}">
                <!--for loop to loop over employer in employers-->
                <!--assigning the ID to the employer-->
                <!--assigning the name of the employer as the value-->
                <option th:each="employer : *{employers}"
                        th:value="${employer.id}"
                        th:text="${employer.value}"></option>
            </select>
        </div>

        <!-- TODO #5 - Create <select> dropdowns for other job fields -->
        <!--Adding dropdown selector for location-->
        <div class="form-group">
            <label th:for="locationsId">Location</label>
            <select th:field="*{locationsId}">
                <option th:each="location : *{locations}"
                        th:value="${location.id}"
                        th:text="${location.value}"></option>
            </select>
        </div>

        <!--Adding dropdown selector for position type-->
        <div class="form-group">
            <label th:for="positionTypesId">Position</label>
            <select th:field="*{positionTypesId}">
                <option th:each="positionType : *{positionTypes}"
                        th:value="${positionType.id}"
                        th:text="${positionType.value}"></option>
            </select>
        </div>

        <!--Adding dropdown selector for skill-->
        <div class="form-group">
            <label th:for="coreCompetencyId">Skill</label>
            <select th:field="*{coreCompetencyId}">
                <option th:each="coreCompetency : *{coreCompetencies}"
                        th:value="${coreCompetency.id}"
                        th:text="${coreCompetency.value}"></option>
            </select>
        </div>



        <input type="submit" value="Add Job" />
    </form>

</div>

</body>
</html>